<app-form-simples [titulo]="titulo" class="title-pag">
    <form autocomplete="off" class="form form-horizontal">
        <div>
            <combo-pessoa-cliente (clienteChangeEvent)="clienteChange()"
                [excluirPerfilAssinador]="excluirPerfilAssinador"></combo-pessoa-cliente>
        </div>
        <div _ngcontent-tbi-c11="" class="col-md-12 clearfix">
            <p _ngcontent-tbi-c11="" style="background: #314355;" class="font-medium white text-center p-1">Selecione
                uma operação abaixo para acessar suas informações </p>
        </div>
        <div class="table-responsive table-border-style table-wrapper-scroll-y  rounded  infinite-scroll" infiniteScroll
            [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [fromRoot]="true"
            [infiniteScrollContainer]="'.infinite-scroll'">
            <div>
                <table sortable-table (sorted)="onSorted($event)" class="table table-hover table-sm">
                    <thead class="thead-custom" style=" padding:10px 0px;">
                        <tr>
                            <th *ngIf="exibirSelecao">
                                <span *ngIf="!tudoSelecionado" (click)="selecionaTudo()">
                                    <i class="fa fa-circle grey font-medium-3"></i>
                                </span>
                                <span *ngIf="tudoSelecionado" (click)="limpaSelecao()">
                                    <i class="fa fa-circle primary font-medium-3"></i>
                                </span>
                            </th>
                            <th><a sortable-column="dataCriacao">Data</a>
                                <input type="text" ([formControl])="filtro" [(ngModel)]="filtro.dataCriacao"
                                    name="dataCriacao" class="form-control" id="dataCriacao" placeholder="Pesquisar..."
                                    (ngModelChange)="filtrando()">
                            </th>
                            <th><a sortable-column="identificador">Identificador</a>
                                <input type="text" ([formControl])="filtro" [(ngModel)]="filtro.identificador"
                                    name="identificador" class="form-control" id="identificador"
                                    placeholder="Pesquisar..." (ngModelChange)="filtrando()">
                            </th>
                            <th><a sortable-column="assunto">Assunto</a>
                                <input type="text" [(ngModel)]="filtro.assunto" name="assunto" class="form-control"
                                    id="assunto" placeholder="Pesquisar..." (ngModelChange)="filtrando()">
                            </th>
                            <th *ngIf="clienteSegmento()=='FACTORING' || clienteSegmento()=='FIDC' || clienteSegmento()=='SECURITIZADORA'">
                                <a sortable-column="valorContratro">Valor</a>
                                <input type="text" [(ngModel)]="filtro.valorContratro" name="valorContratro"
                                    class="form-control" id="valorContratro" placeholder="Pesquisar..."
                                    (ngModelChange)="filtrando()">
                            </th>
                            <th><a sortable-column="statusContrato">Status</a>
                                <select class="form-control" [(ngModel)]="filtro.statusContrato" id="statusContrato"
                                    name="statusContrato" (ngModelChange)="filtrando()">
                                    <option [ngValue]="null">Selecione</option>
                                    <option *ngFor="let opcao of opcoesStatusContrato" [value]="opcao.value">
                                        {{opcao.label}}
                                    </option>
                                </select>
                            </th>

                            <th style="vertical-align:top"><a>Partes</a>

                                <input type="text" [(ngModel)]="filtro.partes[0].nomeRazaoSocial" name="partes"
                                    class="form-control" id="partes" placeholder="Pesquisar..."
                                    (ngModelChange)="filtrando()">
                            </th>
                        </tr>
                    </thead>

                    <tbody [ngStyle]="classUpperCase()">
                        <tr *ngFor="let contrato of listagem" (click)="selecionarLinha(contrato)"
                            [ngClass]="legendaGrid(contrato)" (dblclick)="editar(false)">
                            <td *ngIf="exibirSelecao" style="text-align: center;">
                                <span *ngIf="selection.indexOf(contrato.id) > -1" class=" btn-gray"
                                    (click)="alteranaSelecao(contrato)">
                                    <i class="fa fa-circle font-medium-3 primary"></i>
                                </span>

                                <span *ngIf="selection.indexOf(contrato.id) == -1" class=" btn-gray"
                                    (click)="alteranaSelecao(contrato)">
                                    <i class="fa fa-circle font-medium-3 grey"></i>
                                </span>
                            </td>

                            <td class="text-center">{{contrato.dataCriacao | date: 'dd/MM/yyyy HH:mm'}}</td>
                            <td [ngStyle]="classUpperCase()">{{contrato.identificador}}</td>
                            <td [ngStyle]="classUpperCase()">{{contrato.assunto}}</td>
                            <td [ngStyle]="classUpperCase()"
                                *ngIf="shared.clienteSelecionado.cliente.segmento.identificacao=='FACTORING' || shared.clienteSelecionado.cliente.segmento.identificacao=='FIDC' || shared.clienteSelecionado.cliente.segmento.identificacao=='SECURITIZADORA'"
                                class="text-right">{{contrato.valorContratro|
                        currency:'R$':true}}
                            </td>
                            <td [ngStyle]="classUpperCase()">{{contrato.descStatusContrato}}</td>
                            <td [ngStyle]="classUpperCase()">
                                <table>
                                    <tr *ngFor="let parte of contrato.partes">
                                        <td>
                                            <span style="display: inline-flex;font-size: xx-small;">

                                                <span *ngIf=" parte.tipoPessoa=='FISICA' &&
                                                     parte.statusAssinatura=='NAOASSINADO' && !observador(parte)"
                                                    class="gradient-ibiza-sunset d-block rounded-circle"
                                                    style="margin-top:4px;width:10px; height:10px;"
                                                    ngbTooltip="Não assinado" data-bg-color="ibiza-sunset"></span>
                                                <span *ngIf=" parte.tipoPessoa=='FISICA' &&
                                                    parte.statusAssinatura=='NAOLIBERADO' && !observador(parte) "
                                                    class="bg-grey d-block rounded-circle"
                                                    style="margin-top:4px;width:10px; height:10px;"
                                                    ngbTooltip="Assinatura não liberada" data-bg-color="grey"></span>
                                                <span
                                                    *ngIf="parte.tipoPessoa=='FISICA' && parte.statusAssinatura=='ASSINADO' && !observador(parte)"
                                                    class="bg-success d-block rounded-circle"
                                                    style="margin-top:4px;width:10px; height:10px;"
                                                    ngbTooltip="Assinado" data-bg-color="success"></span>
                                                <span  *ngIf="parte.tipoPessoa=='FISICA' && observador(parte)">
                                                    <i class="fa fa-eye font-medium-0"></i>
                                                </span>    


                                                <span style="margin-left:5px">{{parte.nomeRazaoSocial}}</span>

                                            </span>
                                            <span *ngFor="let contato of parte.contatos">
                                                <span style="display: inline-flex;font-size: xx-small;">
                                                    <span *ngIf="contato.tipoPessoa=='FISICA' &&
                                                        contato.statusAssinatura=='NAOASSINADO' && !observador(contato) "
                                                        class="gradient-ibiza-sunset d-block rounded-circle"
                                                        style="margin-top:4px;width:10px; height:10px;"
                                                        ngbTooltip="Não assinado" data-bg-color="ibiza-sunset"></span>
                                                    <span *ngIf=" contato.tipoPessoa=='FISICA' &&
                                                        contato.statusAssinatura=='NAOLIBERADO'  && !observador(contato) "
                                                        class="bg-grey d-block rounded-circle"
                                                        style="margin-top:4px;width:10px; height:10px;"
                                                        ngbTooltip="Assinatura não liberada"
                                                        data-bg-color="grey"></span>
                                                    <span *ngIf="contato.tipoPessoa=='FISICA' &&
                                                        contato.statusAssinatura=='ASSINADO'  && !observador(contato) "
                                                        class="bg-success d-block rounded-circle"
                                                        style="margin-top:4px;width:10px; height:10px;"
                                                        ngbTooltip="Assinado" data-bg-color="success"></span>
                                                    <span  *ngIf="contato.tipoPessoa=='FISICA' && observador(parte)">
                                                            <i class="fa fa-eye font-medium-0"></i>
                                                    </span>    
                                                    <span style="margin-left:5px">{{contato.nomeRazaoSocial}}</span>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr *ngIf="!listagem.length">
                            <td colspan="5">Nenhum registro encontrado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md-12 text-right clearfix">

                <!-- <app-pagination [page]="page" (paginationEvent)=changePage($event)></app-pagination>-->
                <button *ngIf="gerarAssinatura" class="btn btn-lg btn-raised btn-green mr-1" type="button" (click)="gerarAssinaturaNovamente($event)"
                    [disabled]="!objetoSelecionado || objetoSelecionado.statusContrato !='ASSINADO'">
                    <!--<i class="fa fa-eye"></i>--> Gerar Assinatura(s) Novamente
                </button>
                <button class="btn btn-lg btn-raised btn-blue-as mr-1" type="button" (click)="detalhar()"
                    [disabled]="!objetoSelecionado">
                    <!--<i class="fa fa-eye"></i>--> Exibir
                </button>
                <button *ngIf="podeAssinar" class="btn btn-lg btn-raised btn-primary mr-1" type="button"
                    [disabled]="selection.length==0" (click)="exibirAssinar()">
                    <!--<i class="fa fa-edit"></i>--> Assinar documentos selecionados
                </button>
                <button *ngIf="podeCancelar" class="btn btn-lg btn-raised btn-danger mr-1" type="button"
                    [disabled]="selection.length==0" (click)="exibirCancelar()">
                    <!--<i class="fa fa-ban"></i>--> Cancelar documentos selecionados
                </button>
                <button class="btn btn-lg btn-raised btn-blue-as mr-1" type="button" (click)="contratoDownload($event)" id="btnDownload"
                    [hidden]="consultando"
                    [disabled]=" (!objetoSelecionado  || objetoSelecionado.statusContrato !='ASSINADO') && selection.length == 0"
                    *ngIf="!rota.includes('pendente')">
                    <!--<i class="fa fa-download"></i>--> Download
                </button></div>
        </div>

    </form>
</app-form-simples>