<app-form-simples [titulo]="titulo" class="title-pag">
    <form autocomplete="off" class="form form-horizontal">
        <div>
            <combo-pessoa-cliente (clienteChangeEvent)="clienteChange()"
                [excluirPerfilAssinador]="excluirPerfilAssinador"></combo-pessoa-cliente>
        </div>
        <div _ngcontent-tbi-c11="" class="col-md-12 clearfix">
            <p _ngcontent-tbi-c11="" style="background: #314355;" class="font-medium white text-center p-1">Selecione
                uma operação abaixo para acessar suas informações </p>
            <div class="pendencias-documentos-area">
                <div class="pendencias-cabecalho">
                    <div *ngIf="exibirSelecao" class="pendencias-selecao">
                        <i *ngIf="!tudoSelecionado" class="fa fa-circle grey font-medium-3" (click)="selecionaTudo()"></i>
                        <i *ngIf="tudoSelecionado" class="fa fa-circle primary font-medium-3" (click)="limpaSelecao()"></i>
                    </div>
                    <div class="pendencias-data">
                        <span>Data</span>
                        <input type="text" [(ngModel)]="filtro.dataCriacao" name="dataCriacao" class="form-control"
                            placeholder="Pesquisar..." (ngModelChange)="filtrando()">
                    </div>
                    <div class="pendencias-identificador">
                        <span>Identificador</span>
                        <input type="text" [(ngModel)]="filtro.identificador" name="identificador" class="form-control"
                            placeholder="Pesquisar..." (ngModelChange)="filtrando()">
                    </div>
                    <div class="pendencias-assunto">
                        <span>Assunto</span>
                        <input type="text" [(ngModel)]="filtro.assunto" name="assunto" class="form-control"
                            placeholder="Pesquisar..." (ngModelChange)="filtrando()">
                    </div>
                    <div class="pendencias-valor"
                        *ngIf="clienteSegmento()=='FACTORING' || clienteSegmento()=='FIDC' || clienteSegmento()=='SECURITIZADORA'">
                        <span>Valor</span>
                        <input type="text" [(ngModel)]="filtro.valorContratro" name="valorContratro" class="form-control"
                            placeholder="Pesquisar..." (ngModelChange)="filtrando()">
                    </div>
                    <div class="pendencias-status">
                        <span>Status</span>
                        <select class="form-control" [(ngModel)]="filtro.statusContrato" name="statusContrato"
                            (ngModelChange)="filtrando()">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let opcao of opcoesStatusContrato" [value]="opcao.value">{{opcao.label}}</option>
                        </select>
                    </div>
                    <div class="pendencias-partes">
                        <span>Partes</span>
                        <input type="text" [(ngModel)]="filtro.partes[0].nomeRazaoSocial" name="partes"
                            class="form-control" placeholder="Pesquisar..." (ngModelChange)="filtrando()">
                    </div>
                </div>

                <div class="pendencias-corpo" [ngStyle]="classUpperCase()">
                    <div *ngFor="let contrato of listagem" class="pendencias-documento"
                        [ngClass]="legendaGrid(contrato)" (click)="selecionarLinha(contrato)" (dblclick)="detalhar(false)">
                        <div *ngIf="exibirSelecao" class="pendencias-selecao"
                            (click)="alteranaSelecao(contrato); $event.stopPropagation()">
                            <i class="fa fa-circle font-medium-3"
                                [ngClass]="selection.indexOf(contrato.id) > -1 ? 'primary' : 'grey'"></i>
                        </div>
                        <div class="pendencias-data text-center">{{contrato.dataCriacao | date: 'dd/MM/yyyy HH:mm'}}</div>
                        <div class="pendencias-identificador">{{contrato.identificador}}</div>
                        <div class="pendencias-assunto">{{contrato.assunto}}</div>
                        <div class="pendencias-valor text-right"
                            *ngIf="clienteSegmento()=='FACTORING' || clienteSegmento()=='FIDC' || clienteSegmento()=='SECURITIZADORA'">
                            {{contrato.valorContratro | currency:'R$':true}}
                        </div>
                        <div class="pendencias-status">{{contrato.descStatusContrato}}</div>
                        <div class="pendencias-partes pendencias-lista-partes">
                            <ng-container *ngFor="let parte of (contrato.partes || [])">
                                <span class="pendencias-parte">
                                    <i *ngIf="parte.tipoPessoa=='FISICA' && observador(parte)" class="fa fa-eye"></i>
                                    <span *ngIf="parte.tipoPessoa=='FISICA' && !observador(parte)"
                                        class="pendencias-indicador"
                                        [attr.title]="descricaoStatusAssinatura(parte.statusAssinatura)"
                                        [ngClass]="{'nao-assinado': parte.statusAssinatura=='NAOASSINADO',
                                                    'nao-liberado': parte.statusAssinatura=='NAOLIBERADO',
                                                    'assinado': parte.statusAssinatura=='ASSINADO',
                                                    'assinado-parcial': parte.statusAssinatura=='ASSINADOPARCIAL'}"></span>
                                    <span class="pendencias-pessoa">
                                        <span class="pendencias-nome">{{parte.nomeRazaoSocial}}</span>
                                        <span class="pendencias-papeis" *ngIf="parte.papel && parte.papel.length">
                                            <span *ngFor="let vinculoPapel of parte.papel" class="pendencias-papel">
                                                {{vinculoPapel.papel?.nome || vinculoPapel.papel?.identificacao}}
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span *ngFor="let contato of (parte.contatos || [])"
                                    class="pendencias-parte pendencias-representante">
                                    <i *ngIf="contato.tipoPessoa=='FISICA' && observador(contato)" class="fa fa-eye"></i>
                                    <span *ngIf="contato.tipoPessoa=='FISICA' && !observador(contato)"
                                        class="pendencias-indicador"
                                        [attr.title]="descricaoStatusAssinatura(contato.statusAssinatura)"
                                        [ngClass]="{'nao-assinado': contato.statusAssinatura=='NAOASSINADO',
                                                    'nao-liberado': contato.statusAssinatura=='NAOLIBERADO',
                                                    'assinado': contato.statusAssinatura=='ASSINADO',
                                                    'assinado-parcial': contato.statusAssinatura=='ASSINADOPARCIAL'}"></span>
                                    <span class="pendencias-pessoa">
                                        <span class="pendencias-nome">{{contato.nomeRazaoSocial}}</span>
                                        <span class="pendencias-papeis" *ngIf="contato.papel && contato.papel.length">
                                            <span *ngFor="let vinculoPapel of contato.papel" class="pendencias-papel">
                                                {{vinculoPapel.papel?.nome || vinculoPapel.papel?.identificacao}}
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </ng-container>
                        </div>
                    </div>
                    <div *ngIf="!listagem.length" class="pendencias-vazia">Nenhum registro encontrado</div>
                </div>
            </div>
        </div>
        <div class="row m-2 crud-actions">
            <div class="col-md-12 text-right clearfix">

                <!-- <app-pagination [page]="page" (paginationEvent)=changePage($event)></app-pagination>-->
                <button *ngIf="gerarAssinatura" class="btn btn-lg btn-raised btn-green mr-1" type="button" (click)="gerarAssinaturaNovamente($event)"
                    [disabled]="!objetoSelecionado || objetoSelecionado.statusContrato !='ASSINADO'">
                    <!--<i class="fa fa-eye"></i>--> Gerar Assinatura(s) Novamente
                </button>
                <button class="btn btn-lg btn-raised btn-blue-as mr-1" type="button" (click)="detalhar()"
                    [disabled]="!objetoSelecionado">
                    <!--<i class="fa fa-eye"></i>--> Exibir
                </button>
                <button *ngIf="podeAssinar" class="btn btn-lg btn-raised btn-primary mr-1" type="button"
                    [disabled]="selection.length==0" (click)="exibirAssinar()">
                    <!--<i class="fa fa-edit"></i>--> Assinar documentos selecionados
                </button>
                <button *ngIf="podeCancelar" class="btn btn-lg btn-raised btn-danger mr-1" type="button"
                    [disabled]="selection.length==0" (click)="exibirCancelar()">
                    <!--<i class="fa fa-ban"></i>--> Cancelar documentos selecionados
                </button>
                <button class="btn btn-lg btn-raised btn-blue-as mr-1" type="button" (click)="contratoDownload($event)" id="btnDownload"
                    [hidden]="consultando"
                    [disabled]=" (!objetoSelecionado  || objetoSelecionado.statusContrato !='ASSINADO') && selection.length == 0"
                    *ngIf="!rota.includes('pendente')">
                    <!--<i class="fa fa-download"></i>--> Download
                </button></div>
        </div>

    </form>
</app-form-simples>
