<div class="background-wrapper">
    <div class="background">

    </div>
</div>
<main class="login-wrapper">
    <div class="middle-aligment-flex row no-gutters">
        <div class="login-image_wrapper op0 col-12 col-md-6">
            <img class="desktop" src="assets/img/logos/t-login-logo.png">
            <img class="mobile" style="width: auto;" src="assets/img/assina.net-logobranco.png">

        </div>
        <form class="form-signin op col-12 col-md-2" #form="ngForm" autocomplete="off" (ngSubmit)="logar()">
            <h1 class="title">Bem-vindo</h1>

            <p class="signin">
                Acesse seu documento
            </p>

            <div class="input-wrapper ">
                <input type="text" [(ngModel)]="cpf" name="cpf" class="form-control" id="inputCPF"
                    #login="ngModel" placeholder="Digite os primeiros 4 numeros do seu CPF" style="text-transform:uppercase" autofocus>

                <i class="ft-user"></i>
            </div>
          
            <button class="button-signin w100" style="margin-bottom: 20px;" type="submit" [disabled]="descBtnEntrar != 'Visualizar'">{{descBtnEntrar}}
            </button>

           <ngb-alert type="info" [dismissible]="false" *ngIf="message">
                <strong>Dados inválidos</strong>
            </ngb-alert>

            <br>

        </form>
    </div>
</main>