.panel-min {
    min-height: calc(100vh - 80px) !important;
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
}

.main-content {
    min-height: calc(100vh - 122px) !important;
    overflow: visible !important;
}
