<app-form-simples [titulo]="titulo" [navegacao]="navegacao" [rota]="rota" [modal]="modal" [ngStyle]="classUpperCase()">
    <form class="form form-horizontal" #form="ngForm" (ngSubmit)="salvar()" autocomplete="off" novalidate>
        <div class="form-body">
            <h4 class="form-section mb-1">
                <div *ngIf="!editando && !consultando"><i class="fa fa-plus"></i> Novo cadastro</div>
                <div *ngIf="editando && !consultando"><i class="fa fa-edit"></i> Editando cadastro</div>
                <div *ngIf="consultando"><i class="fa fa-eye"></i> Consultando cadastro</div>
            </h4>

            <div class="row">
                <div [ngClass]="[modal?'col-md-12':'col-md-6']">
                    <label for="inputNome" class="control-label">Nome</label>
                    <input type="text" [(ngModel)]="Segmento.nome" name="inputNome" class="form-control" id="inputNome"
                        [ngStyle]="classUpperCase()" #nome="ngModel" placeholder="Informe" minlength="3" maxlength="255"
                        [disabled]="consultando" required>
                    <small class="form-text text-muted danger"
                        *ngIf="nome.errors?.required && (nome.dirty || nome.touched)">Informe
                        o nome do segmento
                    </small>
                    <small class="form-text text-muted danger"
                        *ngIf="nome.errors?.minlength && (nome.dirty || nome.touched)">Informe
                        no mínimo 3 carateres
                    </small>
                </div>
            </div>

            <div class="row">
                <div [ngClass]="[modal?'col-md-12':'col-md-6']">
                    <label for="inputIdentificacao" class="control-label">Identificação</label>
                    <input type="text" [(ngModel)]="Segmento.identificacao" name="inputIdentificacao" class="form-control"
                        [ngStyle]="classUpperCase()" id="inputIdentificacao" #identificacao="ngModel"
                        [disabled]="consultando" placeholder="Informe" minlength="3" maxlength="255" required>
                    <small class="form-text text-muted danger"
                        *ngIf="identificacao.errors?.required && (identificacao.dirty || identificacao.touched)">Informe
                        a Identificação
                    </small>
                    <small class="form-text text-muted danger"
                        *ngIf="identificacao.errors?.minlength && (identificacao.dirty || identificacao.touched)">Informe
                        no mínimo 3 carateres
                    </small>
                </div>
            </div>

            <ngb-alert *ngIf="message" type="{{message.type}}" (close)="message = null">
                {{ message.text }}
            </ngb-alert>

            <app-botoes-cadastro [editando]="editando" [podeVoltar]="podeVoltar" [consultando]="consultando"
                (cancelarEvent)="cancelar()" (voltarEvent)="voltar()" (excluirEvent)="excluir()">
            </app-botoes-cadastro>
        </div>
    </form>
</app-form-simples>