.container {
  position:fixed;
  background: black;
  color: white;
  height: 100vh;
}


.div-assinaturas{
    float: right;
    top: 0;

}

.div-assinaturas table tr td{
  background-color:#d5efda;
  border-radius: 0.4rem;
  border:1px solid #89CC9D;

}



.table-assinaturas tbody { background-color: gainsboro; border: gray 1px solid; border-radius: 15px;}

@media (max-width: 959px){
  .div-assinaturas{
   margin-top: 20px;

}
}