<form autocomplete="off" class="form form-horizontal" #form="ngForm" novalidate>
    <div class="form-body">
        <app-modal-simples [titulo]="'Cadastro > Contrato > Documentos > Visualizar'">

            <label class="control-label">{{documento.nomeDocumento}}</label>
            <div style="height:500px">
                <!--<ng2-pdfjs-viewer #pdfViewer viewerId="inline" [print]="true" [fullScreen]="false" [find]="false"></ng2-pdfjs-viewer>-->
                <pdf-viewer src="{{documentoPDF}}" original-size="true" show-all="false" [autoresize]="true"
                    [fit-to-page]='true' [render-text]='false'></pdf-viewer>
            </div>

            <ngb-alert *ngIf="message" type="{{message.type}}" (close)="message = null">
                {{ message.text }}
            </ngb-alert>

        </app-modal-simples>
    </div>
</form>